body{
    margin: 0px;
    padding: 0px;
    top : 0;
    background-color: red;
}

.navbar{
    background-color: black;
    overflow: hidden;
}


.navbar li{
    display: inline;
    float: right;
    margin: 0px;
    padding: 20px;
   
}

.navbar ul{
    width: 50%;
    float: right;
    margin: 0px;
    padding: 0px;
    background-color: black;
    
}

.navbar h1{
    padding: 0px;
    margin: 0px;
    width: 50%;
    float: left;
    background-color: black;
    
}