body{
    margin: 0px;
    padding: 0px;
    top : 0;
    background-image: url(background.jpg);
}

.navbar{
    position: fixed;
    background-color: black;
    overflow: hidden;
    color: white;
    width: 100%;
    top: 0;
    background-color:rgba(0, 0, 0, 1);
    z-index: 1; 
}

.opentext{
    background-color:rgba(189, 195, 199, 0.7);
    width: 90%;
    border-radius: 20px;
    border: 10px;
    border-color: black;
    position: relative; top: 50px;
    
}

.blogtext{
    background-color:rgba(189, 195, 199, 0.7);
    width: 90%;
    border-radius: 20px;
    border: 10px;
    border-color: black;
    position: relative; top: 50px;
}

.projecttext{
    background-color:rgba(189, 195, 199, 0.7);
    width: 90%;
    border-radius: 20px;
    border: 10px;
    border-color: black;
    position: relative; top: 50px;
}

.opentext h2{
    padding: 30px;
}

.blogtext h2{
    padding: 30px;
}


.navbar li{
    display: inline;
    float: right;
    margin: 0px;
    padding: 20px;
   
}

.navbar ul{
    width: 84%;
    float: right;
    margin: 0px;
    padding: 0px;
    
}

.navbar h1{
    padding: 0px;
    margin: 0px;
    width: 15%;
    float: left;
    padding-top: 10px;
    padding-left: 10px;
    
}

a:hover{
    color: purple;
}

a{
    color: white;
}

.blogtext a{
    color: purple;
}

.blogtext a:hover{
    color: white;
}